body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* light gray background */
    margin: 0;
    padding: 0;
}

#target{
    position: absolute;  /* or relative */
    width: 60px; /* Set the width of the target */
    height: 60px; /* Set the height of the target */
    top: 50px;
    left: 50px;
    margin-top: -30px;
    margin-left: -30px;
    /* background-color: aqua; */
    
}

#deathScreen{
    display: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
    width: 400px;
    height: 200px;
    border-radius: 200px;  
    z-index: 2;
}

#timer{
  height : 30px; /* Set the height of the timer */
}

#timerContainer{
  position: absolute;
  color: #1c91ff;
  text-align: center;     /* center vertically */
  padding: 10px;          /* spacing inside the box */
  right: 0;
  top: 0; /* Optional: sets it to the top */
}

.panel {
  background-color: #0b27b6d0;   /* light gray background */
  border: 5px solid #1c91ff;      /* light border */
  color: yellow;
  padding: 16px;               /* spacing inside the box */
  border-radius: 200px;          /* rounded corners (optional) */
  height : 200px;               /* optional fixed height */
  width: 300px;                /* optional fixed width */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* subtle shadow */
}

#restartButton {
  background-color: #1c91ff; /* blue background */
  color: white;              /* white text */
  font-size: medium;
  border: none;              /* no border */
  margin: 10px;
  height: 50px;
  width: 100px;
  border-radius: 5px;        /* rounded corners */
  cursor: pointer;           /* pointer cursor on hover */
}